name: Release

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
   inputs:
     fork:
       description: "Enter a gvsbuild fork for the build with the latest stack, defaults to the same owner as this repo."
       default: ""
     latest_ref:
       description: "Enter a git ref for checking out the above repository, defaults to latest."
       default: "latest"
     older_ref:
       description: "Enter a git ref for checking out the above repository, defaults to older."
       default: "older"

jobs:
  determine_vars:
    runs-on: ubuntu-latest
    outputs:
      repo_fork: ${{ steps.get_repo_fork.outputs.repo_fork }}
    steps:
      - name: Determine repo fork
        id: get_repo_fork
        shell: bash
        run: |
          if [[ "${{ github.event.inputs.fork }}" != "" ]]; then
              echo "repo_fork=${{ github.event.inputs.fork }}" >> $GITHUB_OUTPUT
          else
              echo "repo_fork=${{ github.repository_owner }}" >> $GITHUB_OUTPUT
          fi
  build:
    needs: determine_vars
    runs-on: windows-2022
    strategy:
      matrix:
        python: [3.13, 3.9]
        platform: [x64, win32]
        include:
          - platform: x64
            arch: x64
          - platform: win32
            arch: x86
          - python: 3.13
            ref: "${{ github.event.inputs.latest_ref }}"
          - python: 3.9
            ref: "${{ github.event.inputs.older_ref }}"

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          repository: "${{ needs.determine_vars.outputs.repo_fork }}/gvsbuild"
          fetch-depth: 0
          ref: ${{ matrix.ref }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          architecture: ${{ matrix.arch }}

      - name: Install Build Deps
        run: python -m pip install wheel build setuptools==76.1.0

      - name: Install gvsbuild tool
        run: python -m pip install .

      - name: Move git binary
        # Temporarily move preinstalled git to prevent errors related to cygwin.
        run: Rename-Item "C:\Program Files\Git\usr\bin" notbin

      - name: Build
        run: >
          python -m pip list ;

          gvsbuild build
          --platform=${{ matrix.arch }}
          --enable-gi
          --py-wheel
          --patches-root-dir=${{ github.workspace }}\gvsbuild\patches
          gtk3 pycairo pygobject wing lz4 enchant hicolor-icon-theme adwaita-icon-theme

      - name: Restore git binary
        run: Rename-Item  "C:\Program Files\Git\usr\notbin" bin

      - name: Zip Bundle
        run: >
          7z a
          ${{ github.workspace }}/${{ env.release_name }}.zip
          "C:\gtk-build\gtk\${{matrix.platform}}\release"
        env:
          release_name: "gvsbuild-py${{ matrix.python }}-${{ matrix.arch }}"

      - name: Current Date
        id: date
        shell: bash
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          name: release-${{ steps.date.outputs.date }}
          commit: ${{ github.sha }}
          tag: release-${{ steps.date.outputs.date }}
          body: gvsbuild-${{ steps.date.outputs.date }}
          makeLatest: true
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "*.zip"
